<div class="login-page">
  <div class="registration-login">
    <div class="form-container">
      <div class="form">
        <p class="login noselect">Вход</p>
        <form [formGroup]="loginForm">
          <div class="field">
            <p class="field-name noselect">Никнейм:</p>
            <input matInput formControlName="email" class="rectangle">
          </div>
          <div class="field">
            <p class="field-name noselect">Пароль:</p>
            <input matInput formControlName="password" class="rectangle" type="password">
          </div>
        </form>
      </div>
      <div class="button-container">
        <button class="button" [disabled]="loginForm.invalid" (click)="submit()">
          <p class="button-text noselect">Войти в систему</p>
        </button>
      </div>
    </div>
  </div>
</div>
