<div class="register-page">
  <div class="registration-login">
    <div class="form-container">
      <div class="form">
        <p class="registration noselect">Регистрация</p>
        <form [formGroup]="registerForm">
          <div class="field">
            <p class="field-name noselect">Электронная почта</p>
            <input matInput formControlName="email" class="rectangle" type="email">
          </div>
          <div class="field">
            <p class="field-name noselect">Имя пользователя</p>
            <input matInput formControlName="username" class="rectangle">
          </div>
          <div class="field">
            <p class="field-name noselect">Номер телефона</p>
            <input matInput formControlName="phone" class="rectangle">
          </div>
          <div class="field">
            <p class="field-name noselect">Пароль</p>
            <input matInput formControlName="password" class="rectangle" type="password">
          </div>
          <div class="field">
            <p class="field-name noselect">Повтор пароля</p>
            <input matInput formControlName="confirmPassword" class="rectangle" type="password">
          </div>
        </form>
      </div>
      <div class="button-container">
        <button class="button" [disabled]="registerForm.invalid" (click)="submit()">
          <p class="button-text noselect">Зарегистрироваться</p>
        </button>
      </div>
    </div>
  </div>
</div>
