<div class="main-window">
  <div class="close">
    <img src="../../../assets/close.svg" width="30px" height="30px" (click)="close()">
  </div>
  <div *ngFor="let orderItem of order.products; let i = index" class="product">
    <div class="header-fields">
      <p class="header-label">Товар {{ i + 1 }}</p>
      <div class="header-buttons">
        <div class="btn remove-button" *ngIf="order.products && order.products.length > 1" (click)="removeProduct(i)">
          Удалить
        </div>
        <div class="btn remove-button" (click)="addEmptyProduct()">Добавить</div>
      </div>
    </div>
    <div class="main-fields">
      <div class="fields-list">
        <div class="field">
          <label class="field-label">Тип изделия:</label>
          <div *ngIf="orderItem.product.productType">
            <select class="field-input" [(ngModel)]="orderItem.product.productType.productTypeId" (change)="getFillingsForProductType(orderItem.product.productType)">
              <option *ngFor="let productType of productTypes" [value]="productType.productTypeId" class="product-type-label">
                {{productType.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="field-label">Количество:</label>
          <input class="field-input" type="number" [(ngModel)]="orderItem.product.count"/>
        </div>
        <div class="field">
          <label class="field-label">Вес (кг.):</label>
          <input class="field-input" type="number" [(ngModel)]="orderItem.product.weight"/>
        </div>
        <div class="field">
          <label class="field-label">Начинка:</label>
          <div *ngIf="orderItem.product.topping">
            <select class="field-input" [(ngModel)]="orderItem.product.topping.fillingId">
              <option *ngFor="let topping of toppings" [value]="topping.fillingId" class="field-label">
                {{topping.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="field-label">Комментарий:</label>
          <textarea class="description-input" wrap="soft" [(ngModel)]="orderItem.product.comment"></textarea>
        </div>
      </div>
      <div class="image-group">
        <div class="image-container">
          <p class="image-label">Референс:</p>
          <div class="product-image-container">
            <img *ngIf="orderItem.product.image" [src]="orderItem.product.image" alt="Product Image" class="image">
          </div>
        </div>
        <div class="update-image">
          <label for="product-image-upload-{{i}}">Добавить референс</label>
          <input id="product-image-upload-{{i}}" type="file" (change)="onFileSelected($event, orderItem, 'reference')"
                 accept="image/*"
                 style="display: none;">
        </div>
      </div>
      <div class="image-group" *ngIf="order.orderId">
        <div class="image-container">
          <p class="image-label">Результат:</p>
          <div class="product-image-container">
            <img *ngIf="orderItem.resultImage" [src]="orderItem.resultImage" alt="Product Image" class="image">
          </div>
        </div>
        <div class="update-image">
          <label for="product-result-upload-{{i}}">Добавить результат</label>
          <input id="product-result-upload-{{i}}" type="file" (change)="onFileSelected($event, orderItem, 'result')"
                 accept="image/*"
                 style="display: none;">
        </div>
      </div>
      <div class="consumables-list" *ngIf="data.order != undefined">
        <p class="consumables-label">Расходные материалы</p>
        <div class="consumable-line-group" *ngFor="let consumableProduct of orderItem.product.consumableProducts; let i = index">
          <div class="consumable-column-group">
            <div class="consumable-name">
              <div class="field">
                <label class="field-label">Название:</label>
                <select class="field-input" [(ngModel)]="consumableProduct.consumable.consumableId">
                  <option *ngFor="let consumable of consumables" [ngValue]="consumable.consumableId" class="product-type-label">
                    {{consumable.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="consumable-expenses">
              <div class="field">
                <label class="field-label">Затраты:</label>
                <input class="field-input" type="number" [(ngModel)]="consumableProduct.count"/>
              </div>
            </div>
            <div class="consumable-add-button" (click)="addEmptyConsumableProduct(orderItem)" *ngIf="orderItem.product.consumableProducts && i === orderItem.product.consumableProducts.length - 1">Добавить</div>
          </div>
          <div class="delete-button" (click)="removeConsumableProduct(orderItem, i)">Удалить
          </div>
        </div>
        <div class="consumable-add-button" (click)="addEmptyConsumableProduct(orderItem)" *ngIf="orderItem.product.consumableProducts && orderItem.product.consumableProducts.length == 0">Добавить</div>
      </div>
    </div>
    <div class="product-count-pre-price-group">
      <div class="product-count-group">
        <div class="count-change-buttons noselect" (click)="decreaseCount(orderItem)">-</div>
        <div class="product-count">{{orderItem.quantity}}</div>
        <div class="count-change-buttons noselect" (click)="increaseCount(orderItem)">+</div>
      </div>
      <div class="pre-price">Предварительная стоимость товара: {{orderItem.product.price}}</div>
    </div>
  </div>
  <div class="external-fields">
    <div class="product-count-pre-price-group">
      <div class="field">
        <label class="field-label">Тип получения:</label>
        <select class="field-input" [(ngModel)]="order.deliveryType">
          <option *ngFor="let deliveryType of deliveryTypes" [value]="deliveryType.value" class="product-type-label">
            {{deliveryType.viewValue}}
          </option>
        </select>
      </div>
      <div class="field">
        <label class="field-label">Адрес:</label>
        <input class="field-input" type="text" [(ngModel)]="order.address"/>
      </div>
      <div class="field" *ngIf="this.data.order">
        <label class="field-label">Затраты на заказ:</label>
        <input class="field-input" type="text" [(ngModel)]="order.spentPrice"/>
      </div>
    </div>
    <div class="product-count-pre-price-group">
      <div class="field">
        <label class="field-label">Дата выполнения заказа:</label>
        <input class="field-input" type="datetime-local" [(ngModel)]="order.completeDate"/>
      </div>
      <div class="field" *ngIf="order.orderId">
        <label class="field-label">Статус заказа:</label>
        <select class="field-input" [(ngModel)]="order.status">
          <option *ngFor="let status of statuses" [value]="status.value" class="product-type-label">
            {{status.viewValue}}
          </option>
        </select>
      </div>
      <div class="field" *ngIf="this.data.order">
        <label class="field-label">Стоимость заказа:</label>
        <input class="field-input" type="text" [(ngModel)]="order.resultPrice"/>
      </div>
    </div>
  </div>
</div>
<div class="accept-button" (click)="makeOrder()">
  <ng-container *ngIf="order.orderId; else elseBlock">Применить изменения</ng-container>
  <ng-template #elseBlock>Сформировать заказ</ng-template>
</div>
