<p class="order-page-header">Заказы</p>
<p class="no-orders-message" *ngIf="orders?.length == 0">У вас пока нет заказов</p>
<div class="auto-group-fjm1-RLw">
  <div class="order-list">
    <div class="order" *ngFor="let order of orders">
      <p class="order-dates">Заказ №{{order.orderId}}</p>
      <div class="order-header">
        <p class="order-dates">
          Дата оформления: {{order.createdDate | date:'dd.MM.yyyy'}}
          <br/>
          Дата выполнения: {{order.completeDate | date:'dd.MM.yyyy'}}
        </p>
        <div class="order-costs">Стоимость: {{order.resultPrice}}</div>
        <div class="order-expenses" *ngIf="user.username == order.confectioner?.username">
          Расходы: {{order.spentPrice}}</div>
        <div class="order-income"
             *ngIf="order && order.resultPrice !== undefined && order.spentPrice !== undefined && user.username == order.confectioner?.username">
          Доход: {{ order.resultPrice - order.spentPrice }}
        </div>
      </div>
      <div class="order-body">
        <div class="products-list" *ngFor="let product of order.products; let i = index; let last = last">
          <div class="order-desire-image">
            <p class="desire-image-label">Желаемый результат</p>
            <div class="desire-image">
              <img [src]="product.product.image" alt="Product Image" width="100%" height="100%">
            </div>
          </div>
          <div class="auto-group-ayhu-ooq">
            <div class="order-description">
              <p class="order-weight">Тип: {{product.product.productType?.name}}</p>
              <p class="order-weight">Начинка: {{product.product.topping?.name}}</p>
              <p class="order-weight">Вес: {{product.product.weight}} кг.</p>
              <p class="order-count">Количество: {{product.quantity}} шт.</p>
              <p class="description-text">
                {{product.product.comment}}
              </p>
              <p class="description-text" *ngIf="last">
                {{order.comment}}
              </p>
            </div>
          </div>
          <div class="order-result-image">
            <p class="result-image-label">Результат</p>
            <div class="result-image">
              <img [src]="product.resultImage" alt="Product Image" width="100%" height="100%">
            </div>
          </div>
        </div>
      </div>
      <div class="order-info">
        <p class="order-users">
          Заказчик:
          <a href="/profile/{{order.customer?.username}}">{{order.customer?.username}}</a>
          <br/>
          Кондитер:
          <a href="/profile/{{order.confectioner?.username}}">{{order.confectioner?.username}}</a>
        </p>
        <div class="order-status">Статус: {{getStatusView(order.status)}}</div>
        <div class="edit-order">
          <p class="edit-order-label noselect" (click)="editOrder(order)"
             *ngIf="user.username == order.confectioner?.username">Редактировать заказ</p>
          <p class="edit-order-label noselect" (click)="leaveFeedback(order)"
             *ngIf="user.username == order.customer?.username">Оставить отзыв к заказу</p>
        </div>
      </div>
    </div>
  </div>
</div>
