<div class="page">
  <div class="header-all">
    <div class="photo">
      <img *ngIf="user?.image" [src]="user?.image" alt="User Image" class="photo-img">
    </div>
    <div class="about-contacts">
      <div class="about-me-group" *ngIf="user?.role === 'ROLE_CONFECTIONER' || user?.role === 'ROLE_ADMIN'">
        <p class="header-about-me">Обо мне</p>
        <div class="about-me-field">
          <p class="about-me-text">
            {{user?.description}}
          </p>
        </div>
      </div>
      <div class="contacts-group">
        <p class="header-contacts">Мои контакты</p>
        <div class="contacts-field">
          <div class="contacts">
            <div class="social" *ngFor="let link of user?.socialNetworks">
              <img class="social-image" *ngIf="link.url !== ''" [src]="'./assets/' + link.type.toLowerCase() + '.png'"
                   [alt]="link.type"/>
              <p class="social-link" *ngIf="link.url">{{link.url}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="settings" src="../../assets/settings.png" [routerLink]="['/edit']"/>

  </div>
  <div class="main-info-group" *ngIf="user?.role === 'ROLE_CONFECTIONER' || user?.role === 'ROLE_ADMIN'">
    <p class="username">{{user?.username}}</p>
    <p class="rating">Рейтинг: 4.75</p>
    <div class="leave-feedback noselect" (click)="leaveFeedback(user)">Оставить отзыв</div>
    <div class="make-order noselect" (click)="makeOrder()">Оформить заказ</div>
  </div>
  <div class="works" *ngIf="user?.role === 'ROLE_CONFECTIONER' || user?.role === 'ROLE_ADMIN'">
    <p class="works-header">Мои работы</p>
    <div class="products-list">
      <div class="product-card" *ngFor="let product of products">
        <div class="product-image">
          <img [src]="product.image" alt="Product Image" width="300rem" height="300rem">
        </div>
        <div class="product-info">
          <p class="product-name">{{product.name}}</p>
          <p class="product-price">{{product.price}}₽</p>
          <p class="product-description">{{product.comment}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback-list" *ngIf="user?.role === 'ROLE_CONFECTIONER' || user?.role === 'ROLE_ADMIN'">
    <p class="feedback-header">
      Отзывы
    </p>
    <div class="feedback-card" *ngFor="let feedback of user?.feedbacksTo">
      <div class="feedback-data">
        <p class="feedback-username">{{feedback.userFrom?.username}}</p>
        <div class="stars"*ngIf="feedback.rating !== undefined">
          <img class="star" src="../../../assets/star-filled.png" *ngFor="let _ of [].constructor(feedback.rating)"/>
          <img class="star" src="../../../assets/star-empty.png" *ngFor="let _ of [].constructor(5 - feedback.rating)"/>
        </div>
        <p class="feedback-date">{{feedback.createdDate | date:'dd.MM.yyyy'}}</p>
      </div>
      <p class="feedback-text">{{feedback.comment}}</p>
    </div>
  </div>
</div>
