<div class="main-page">
  <h2 class="welcome-message">Добро пожаловать на сайт по заказу тортов</h2>
  <div class="page">
    <div class="images">
      <div class="image-left">
        <img class="image-1" ngSrc="./assets/image-1.png" width="1200" height="800"/>
        <div class="text">Кондитер? Зарегистрируйся и получай заказы от клиентов, просматривай статистику</div>
      </div>
      <div class="image-right">
        <img class="image-2" ngSrc="./assets/image-2.png" width="1200" height="800"/>
        <div class="text">Заказчик? Зарегистрируйся чтобы оформлять и отслеживать свои заказы, ставить оценки и
          оставлять отзывы
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="button" [routerLink]="['/registration']">
        Регистрация
      </button>
      <button class="button" [routerLink]="['/login']">
        Вход
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
