.main-page {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.welcome-message {
  margin-right: 0.5rem;
  max-width: 81.3rem;
  font-size: 7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.page {
  box-sizing: border-box;
  padding: 7.2rem 10.6rem 10.591rem 9.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.image-left {
  display: flex;
  flex-direction: column;
}
.image-right {
  display: flex;
  flex-direction: column;
}
.images {
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image-1 {
  margin-right: 29.1rem;
  width: 47rem;
  height: 31rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 4.1rem;
  flex-shrink: 0;
}
.image-2 {
  width: 47rem;
  height: 31rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 4.1rem;
  flex-shrink: 0;
}
.text-group {
  margin: 0 0.45rem 7.009rem 0.45rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.text {
  max-width: 47rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.buttons {
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 3rem;
}
.button {
  width: 20.8rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  flex-shrink: 0;
  background-color: #18a0fb;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  font-size: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.button:hover {
  background-color: white;
  color: #18a0fb;
}
