<body>
<div class="main-window">
  <div class="main-fields">
    <div class="fields-list">
      <div class="field">
        <label class="field-label">Наименование:</label>
        <input class="field-input" type="text" [(ngModel)]="editedProduct.name"/>
      </div>
      <div class="field">
        <label class="field-label">Тип изделия:</label>
        <select class="field-input" [value]="editedProduct.productType?.name" (change)="onProductTypeChange($event)">
          <option *ngFor="let productType of productTypes" [value]="productType.name" class="product-type-label">
            {{productType.name}}
          </option>
        </select>
      </div>
      <div class="field">
        <label class="field-label">Количество:</label>
        <input class="field-input" type="number" [(ngModel)]="editedProduct.count"/>
      </div>
      <div class="field">
        <label class="field-label">Вес (кг.):</label>
        <input class="field-input" type="number" [(ngModel)]="editedProduct.weight"/>
      </div>
      <div class="field">
        <label class="field-label">Начинка:</label>
        <select class="field-input" [value]="editedProduct.topping?.fillingId" (change)="onToppingChange($event)">
          <option *ngFor="let topping of toppings" [value]="topping.fillingId" class="field-label">
            {{topping.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="image-group">
      <div class="image-container">
        <p class="image-label">Фотография:</p>
        <div class="product-image-container">
          <img *ngIf="editedProduct.image" [src]="editedProduct.image" alt="Product Image" class="image">
        </div>
      </div>
      <div class="update-image">
        <label for="product-image-upload">Изменить фотографию</label>
        <input id="product-image-upload" type="file" (change)="onFileSelected($event)" accept="image/*"
               style="display: none;">
      </div>
    </div>
    <div class="consumables-list">
      <p class="consumables-label">Расходные материалы</p>
      <div class="consumable-line-group" *ngFor="let consumableProduct of editedProduct.consumableProducts; let i = index">
        <div class="consumable-column-group">
          <div class="consumable-name">
            <div class="field">
              <label class="field-label">Название:</label>
              <select class="field-input" [(ngModel)]="consumableProduct.consumable.consumableId">
                <option *ngFor="let consumable of consumables" [ngValue]="consumable.consumableId" class="product-type-label">
                  {{consumable.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="consumable-expenses">
            <div class="field">
              <label class="field-label">Затраты:</label>
              <input class="field-input" type="number" [(ngModel)]="consumableProduct.count"/>
            </div>
          </div>
          <div class="consumable-add-button" (click)="addEmptyConsumableProduct()" *ngIf="editedProduct && editedProduct.consumableProducts && i === editedProduct.consumableProducts.length - 1">Добавить</div>
        </div>
        <div class="delete-button" (click)="removeConsumableProduct(i)" *ngIf="editedProduct && editedProduct.consumableProducts && editedProduct.consumableProducts.length > 1">Удалить
        </div>
      </div>
      <div class="consumable-add-button" (click)="addEmptyConsumableProduct()" *ngIf="editedProduct && editedProduct.consumableProducts && 0 == editedProduct.consumableProducts.length">Добавить</div>

    </div>
  </div>
  <div class="external-fields">
    <div class="description-field">
      <label class="field-label">Комментарий:</label>
      <textarea class="description-input" [(ngModel)]="editedProduct.comment"></textarea>
    </div>
    <div class="result-group">
      <div class="result-field">
        <label class="field-label">Итоговая стоимость товара:</label>
        <input class="field-input" type="number" [(ngModel)]="editedProduct.price"/>
      </div>
      <div class="result-field">
        <label class="field-label">Итоговые затраты:</label>
        <input class="field-input" type="number"/>
      </div>
    </div>
  </div>
</div>
<div class="accept-button" (click)="onSave()">Применить</div>
</body>
