<div class="confectioner-page">
  <p class="confectioner-label">Кондитеры</p>
  <div class="confectioner-list">
    <div class="confectioner" *ngFor="let confectioner of confectioners">
      <div class="confectioner-info">
        <div class="confectioner-image">
          <img [src]="confectioner.image" alt="Confectioner Image" width="100%" height="100%">
        </div>
        <p class="confectioner-username">{{confectioner.username}}</p>
        <p class="confectioner-description">{{confectioner.description}}</p>
      </div>
      <div class="confectioner-button noselect" [routerLink]="['/profile', confectioner.username]">Перейти в профиль
      </div>
    </div>
  </div>
  <div appEnterTheViewportNotifier
       style="width: 100%; height: 50px;"
       (visibilityChange)="onScroll($event)"></div>
</div>
