<div class="main-content">
  <div class="navigation-bar">
    <div class="sample-logo">
      <img class="logo" src="./assets/logo-1.png"/>
      <a class="cakes" [href]="['/main']">cakes</a>
      <nav class="nav-bar">
        <a class="link" [href]="['/production']">Продукция</a>
        <a class="link" [href]="['/confectioners']">Кондитеры</a>
        <a class="link" [href]="['/admin']" *ngIf="tokenStorageService.getUser()?.role === 'ROLE_ADMIN'">
          Панель администратора
        </a>
      </nav>
    </div>
    <div class="buttons-group">
      <nav class="nav-bar">
        <a class="link" [routerLink]="['/profile', this.tokenStorageService.getUser()?.username]">Профиль</a>
        <a class="link" [href]="['/orders']">Заказы</a>
        <a class="link" [href]="['/statistic']" *ngIf="tokenStorageService.getUser()?.role === 'ROLE_CONFECTIONER' || tokenStorageService.getUser()?.role === 'ROLE_ADMIN'">
          Статистика
        </a>
      </nav>
      <div class="auth-buttons" *ngIf="!isAuth">
        <button class="btn login-button" [routerLink]="['/login']">Вход</button>
        <button class="btn register-button" [routerLink]="['/registration']">Регистрация</button>
      </div>
      <div class="logout-button" *ngIf="isAuth">
        <button class="btn login-button" (click)="logout()">Выйти</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
