<div class="main-content">
  <div class="navigation-bar">
    <div class="sample-logo">
      <img class="logo" src="./assets/logo-1.png"/>
      <div class="cakes">cakes</div>
      <nav class="nav-bar">
        <a class="link" [href]="['/production']">Продукция</a>
        <a class="link" [href]="['/']">Кондитеры</a>
      </nav>
    </div>
    <div class="buttons-group">
      <nav class="nav-bar">
        <a class="link" [href]="['/']">Профиль</a>
        <a class="link" [href]="['/']">Заказы</a>
      </nav>
      <button class="btn login-button" [routerLink]="['/login']">Вход</button>
      <button class="btn register-button" [routerLink]="['/registration']">Регистрация</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
