<body>
<div class="page">
  <div class="header-all">
    <div class="about-contacts">
      <div class="about-me-group">
        <p class="header-about-me">Обо мне</p>
        <div class="about-me-field">
          <p class="about-me-text">
            {{user?.description}}
          </p>
        </div>
      </div>
      <div class="contacts-group">
        <p class="header-contacts">Мои контакты</p>
        <div class="contacts-field">
          <div class="contacts">
            <div class="social" *ngFor="let link of user?.socialNetworks">
              <img class="social-image" *ngIf="link.url !== ''" [src]="'./assets/' + link.type.toLowerCase() + '.png'" [alt]="link.type"/>
              <p class="social-link" *ngIf="link.url">{{link.url}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="settings" src="../../assets/settings.png" [routerLink]="['/edit']"/>
    <div class="photo">
      <img *ngIf="user?.image" [src]="user?.image" alt="User Image" class="photo-img">
    </div>
  </div>
  <div class="main-info-group">
    <p class="rating">Рейтинг: 4.75</p>
    <div class="make-order">Оформить заказ</div>
  </div>
  <div class="page">
    <p class="works-header">Мои работы</p>
    <div class="products-list">
      <div class="product-card" *ngFor="let product of products">
        <div class="product-image">
          <img [src]="product.image" alt="Product Image" width="300rem" height="300rem">
        </div>
        <div class="product-info">
          <p class="product-name">{{product.name}}</p>
          <p class="product-price">{{product.price}}₽</p>
          <p class="product-description">{{product.comment}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feedback-list">
  <p class="feedback-header">
    Отзывы
  </p>
  <div class="feedback-card">
    <div class="feedback-data">
      <p class="feedback-username">Никнейм</p>
      <div class="stars">
        <img class="star" src="./assets/star-filled.png"/>
        <img class="star" src="./assets/star-filled.png"/>
        <img class="star" src="./assets/star-filled.png"/>
        <img class="star" src="./assets/star-filled.png"/>
        <img class="star" src="./assets/star-filled.png"/>
      </div>
      <p class="feedback-date">28.11.2023</p>
    </div>
    <p class="feedback-text">Заказывал продукт “Короткое наименование”. Произвёл приятное впечатление. Но был сладковат.
      Поэтому 4.</p>
  </div>
  <div class="feedback-card">
    <div class="feedback-data">
      <p class="feedback-username">Никнейм</p>
      <div class="stars">
        <img class="star" src="./assets/star-filled.png"/>
        <img class="star" src="./assets/star-filled.png"/>
        <img class="star" src="./assets/star-filled.png"/>
        <img class="star" src="./assets/star-filled.png"/>
        <img class="star" src="./assets/star-empty.png"/>
      </div>
      <p class="feedback-date">28.11.2023</p>
    </div>
    <p class="feedback-text">Заказывал продукт “Короткое наименование”. Произвёл приятное впечатление. Но был сладковат.
      Поэтому 4.</p>
  </div>
</div>
</body>
