<body>
<div class="page">
  <div class="header-all">
    <div class="about-contacts">
      <div class="about-me-group">
        <p class="header-about-me">Обо мне</p>
        <div class="about-me-field">
          <p class="about-me-text">
            Привет, меня зовут Андрей и я уже 3 года пеку торты и пряники.
            Советую заказывать именно у меня, вкусно, быстро и круто!
          </p>
        </div>
      </div>
      <div class="contacts-group">
        <p class="header-contacts">Мои контакты</p>
        <div class="contacts-field">
          <div class="contacts">
            <div class="social">
              <img class="social-image" src="./assets/ig.png" alt="Instagram"/>
              <p class="social-link">www.link.com</p>
            </div>
            <div class="social">
              <img class="social-image" src="./assets/vk.png"/>
              <p class="social-link">www.link.com</p>
            </div>
            <div class="social">
              <img class="social-image" src="./assets/pinterest.png"/>
              <p class="social-link">www.link.com</p>
            </div>
            <div class="social">
              <img class="social-image" src="./assets/telegram.png"/>
              <p class="social-link">www.link.com</p>
            </div>
            <div class="social">
              <img class="social-image" src="./assets/whatsapp.png"/>
              <p class="social-link">www.link.com</p>
            </div>
            <div class="social">
              <img class="social-image social-image-long" src="./assets/youtube.png"/>
              <p class="social-link">www.link.com</p>
            </div>
            <div class="social">
              <img class="social-image social-image-long" src="./assets/mail.png"/>
              <p class="social-link">email@mail.ru</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="settings" src="../../assets/settings.png"/>
    <div class="photo">
    </div>
  </div>
  <div class="main-info-group">
    <p class="rating">Рейтинг: 4.75</p>
    <div class="make-order">Оформить заказ</div>
  </div>
  <div class="page">
    <p class="works-header">Мои работы</p>
    <div class="products-list">
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-info">
          <p class="product-name">Короткое наименование</p>
          <p class="product-price">5000₽</p>
          <p class="product-description">Подробное описание продукции, из чего сделано и другое</p>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-info">
          <p class="product-name">Короткое наименование</p>
          <p class="product-price">5000₽</p>
          <p class="product-description">Подробное описание продукции, из чего сделано и другое</p>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-info">
          <p class="product-name">Короткое наименование</p>
          <p class="product-price">5000₽</p>
          <p class="product-description">Подробное описание продукции, из чего сделано и другое</p>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-info">
          <p class="product-name">Короткое наименование</p>
          <p class="product-price">5000₽</p>
          <p class="product-description">Подробное описание продукции, из чего сделано и другое</p>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-info">
          <p class="product-name">Короткое наименование</p>
          <p class="product-price">5000₽</p>
          <p class="product-description">Подробное описание продукции, из чего сделано и другое</p>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-info">
          <p class="product-name">Короткое наименование</p>
          <p class="product-price">5000₽</p>
          <p class="product-description">Подробное описание продукции, из чего сделано и другое</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="item--vzG">
  <p class="item--efN">
    Отзывы
    <br/>

  </p>
  <div class="item-1-96L">
    <div class="auto-group-ywi8-qUx">
      <p class="item--Zfr">Никнейм</p>
      <img class="star-5-EX6" src="./assets/star-filled.png"/>
      <img class="star-2-mG8" src="./assets/star-filled.png"/>
      <img class="star-1-GTn" src="./assets/star-filled.png"/>
      <img class="star-3-QZz" src="./assets/star-filled.png"/>
      <img class="star-4-91n" src="./assets/star-filled.png"/>
      <p class="item-28112023-4Pe">28.11.2023</p>
    </div>
    <p class="item-4-9vt">Заказывал продукт “Короткое наименование”. Произвёл приятное впечатление. Но был сладковат.
      Поэтому 4.</p>
  </div>
  <div class="item-2-qSL">
    <div class="auto-group-yric-Ltt">
      <p class="item--UkC">Никнейм</p>
      <img class="star-5-8pk" src="./assets/star-filled.png"/>
      <img class="star-2-fpg" src="./assets/star-filled.png"/>
      <img class="star-1-C3v" src="./assets/star-filled.png"/>
      <img class="star-3-8CU" src="./assets/star-filled.png"/>
      <img class="star-4-UGL" src="./assets/star-empty.png"/>
      <p class="item-28112023-oJc">28.11.2023</p>
    </div>
    <p class="item-4-JWG">Заказывал продукт “Короткое наименование”. Произвёл приятное впечатление. Но был сладковат.
      Поэтому 4.</p>
  </div>
</div>
</body>
