.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Отступ сверху для контейнера кнопки */
}

#form-button {
  width: 5rem;
}
