<div class="statistic-page">
  <p class="statistic-header">Статистика</p>
  <div class="email-button-year-group">
    <div class="email-button-group">
      <div class="rectangle">
        <img class="mail-logo" src="../../assets/email.png"/>
        <p class="email-text">Ежемесячная статистика на почту</p>
      </div>
    </div>
    <p class="year-label">Год: 2023</p>
  </div>
  <div class="diagrams">
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Янв</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Февр</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Март</p>
    </div>
    <div class="current-month">
      <div class="month">
        <div class="stats-bars">
          <div class="rectangle-95-nvX">
          </div>
          <div class="rectangle-90-WLj">
          </div>
        </div>
        <p class="item--E1q">Апр</p>
      </div>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Май</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Июнь</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Июль</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Авг</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Сент</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Окт</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Нояб</p>
    </div>
    <div class="month">
      <div class="stats-bars">
        <div class="outcome">
        </div>
        <div class="income">
        </div>
      </div>
      <p class="month-name">Дек</p>
    </div>
  </div>
  <div class="income-outcome-group">
    <div class="income-text">Доходы за апрель: 23715</div>
    <div class="outcome-text">Расходы за апрель: 23715</div>
  </div>
  <div class="month-stats-group">
    <p class="income-stats-label">
      Количество заказов: 7
      <br/>
      Количество клиентов: 5
    </p>
    <p class="outcome-stats-label">
      Доставка: 5500
      <br/>
      Расходные материалы: 3000
    </p>
  </div>
</div>
