<div class="statistic-page">
  <p class="statistic-header">Статистика</p>
  <div class="email-button-year-group">
    <div class="email-button-group">
      <div class="rectangle">
        <img class="mail-logo" src="../../assets/email.png"/>
        <p class="email-text" (click)="emailSubscribe()">Настройка почтовых уведомлений</p>
      </div>
    </div>
    <p class="year-label">Год: {{year}}</p>
  </div>
  <div class="diagrams">
    <div class="month" *ngFor="let stat of statistic" [ngClass]="{'current-month': stat?.month === currMonth}"
         [title]="'Расходы: ' + (stat.expences || 0) + '\nДоход: ' + (stat.income || 0)">
      <div class="stats-bars">
        <div class="outcome" [style.height.px]="calculateHeight(stat?.expences)"></div>
        <div class="income" [style.height.px]="calculateHeight(stat?.income)"></div>
      </div>
      <p class="month-name">{{ stat.month !== undefined && months[stat.month - 1]?.viewValue }}</p>
    </div>
  </div>
  <div class="income-outcome-group">
    <div class="income-text">Доходы за апрель: {{statistic[currMonth - 1].income}}</div>
    <div class="outcome-text">Расходы за апрель: {{statistic[currMonth - 1].expences}}</div>
  </div>
  <div class="month-stats-group">
    <p class="income-stats-label">
      Количество заказов: {{statistic[currMonth - 1].orderCount}}
    </p>
    <p class="outcome-stats-label">
      Количество клиентов: {{statistic[currMonth - 1].customerCount}}
    </p>
  </div>
  <div class="consumables">
    <table class="table">
      <thead class="table-header">
      <tr class="table-header-col">
        <th class="table-header-text" colspan="6">Расходные материалы</th>
        <p class="add-element" (click)="addConsumable()">+</p>
      </tr>
      </thead>
      <tbody class="table-body">
      <tr class="table-column">
        <th class="table-column-header">
          <div class="table-column-header-text">Название</div>
        </th>
        <td class="table-cell" *ngFor="let consumable of consumables ; let i = index">
          <input [(ngModel)]="consumable.name" class="textarea"/>
          <img src="../../../assets/bin.png" class="delete-filling" (click)="openDeleteModal(consumable)" width="20px">
        </td>
      </tr>
      <tr class="table-column">
        <th class="table-column-header">
          <div class="table-column-header-text">Наличие</div>
        </th>
        <td class="table-cell" *ngFor="let consumable of consumables">
          <div class="frame">
            <div *ngIf="consumable && consumable.quantity !== undefined && consumable.threshold !== undefined">
              <div *ngIf="consumable.quantity >= consumable.threshold" class="availability-ok-figure">
                <div class="availability-ok-text">В достатке</div>
              </div>
              <div *ngIf="consumable.quantity < consumable.threshold" class="availability-bad-figure">
                <div class="availability-bad-text">Мало</div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr class="table-column">
        <th class="table-column-header">
          <div class="table-column-header-text">Количество</div>
        </th>
        <td class="table-cell" *ngFor="let consumable of consumables">
          <div class="table-cell-text">
            {{consumable.quantity}} {{consumable.quantityType}}
          </div>
        </td>
      </tr>
      <tr class="table-column table-column-settings">
        <th class="table-column-header">
          <div class="table-column-header-text"></div>
        </th>
        <td class="table-cell" *ngFor="let consumable of consumables"><img class="consumable-settings-img"
                                                                           src="../../assets/tablecellcontrols.png"
                                                                           (click)="openEditModal(consumable)"></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
